<html>
<head>
    <title>Welcome to Markdown blog</title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>
<body>
    <header>
        <h1>Severin Murcina</h1>
    </header>   
    <nav>
        <ul class=menu>
            <li><a href="">About</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Admin</a></li>
        </ul>
    </nav>
    <main>
        <blockquote>
            Hello my name is Zoltan Veres, I'm live in Bratislava, the capital of Slovakia.
        </blockquote>
    </main>
    <footer>
        (c) 2021 Severin Murcina
    </footer>
</body>
</html>